{% extends 'layouts/base.html' %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-center">{{ project.name }}</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Tasks</h5>
            <ul class="list-group list-group-flush">
                {% for task in tasks %}
                <li class="list-group-item">
                    {% if task.done == False %}&#9201;{% else %}&#9989;{% endif %}
                    {{ task.title }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}